{% extends 'management/base.html' %}{% load static %}

{% block title %}Chi Tiết Kiện Hàng{% endblock %}
{%block content %}
<div class="jumbotrona">

    <h1>Chi Tiết Kiện Hàng</h1>

    <form action="" role="form" method="post">{% csrf_token %}
         {% for choice in form.type_field %}
             {{ choice.choice_label }}
             <span class="radio">{{ choice.tag }}</span>
       {% endfor %}


        <label for="weight">Cân nặng: </label>
        <input type="number" class="form-control" placeholder="Cân nặng" name="weight" value="" size="255" required autofocus  step="any" min=".4"/>
        <br/>

        <label for="piece">Số kiện: </label>
        <input type="number" class="form-control" placeholder="Số kiện" name="piece" value="" size="255" required
               autofocus min="1"/>
        <br/>

        <label for="content">Chi tiết kiện hàng: </label>

        <textarea class="form-control"  placeholder="Chi tiết kiện hàng" name="content" autofocus style="height:200px"> </textarea>
        <br/>

        <label for="value">Giá trị kiện hàng: </label>
        <input type="text" class="form-control" placeholder="Giá trị kiện hàng" name="value" value="" size="255" required
               autofocus/>
        <br/>



        <label for="extra_charge">Phụ phí: </label>
        <input type="number" class="form-control" placeholder="Phụ phí" name="extra_charge" value="0" size="100"
               autofocus/>
        <br/>


        <label for="receiver2">Họ Tên Người Nhận Thế: </label>
        <input type="text" class="form-control" placeholder="Họ Tên Người Nhận Thế" name="receiver2" value="" size="100"
               autofocus/>
        <br/>

        <label for="phone2">Phone Người Nhận Thế: </label>
        <input type="number" class="form-control" placeholder="Phone Người Nhận Thế" name="phone2" value="" size="100"
               autofocus/>
        <br/>

        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
</div>
{% endblock %}
