{% extends 'management/base.html' %}{% load static %}

{% block title %}Chi Tiết Kiện Hàng{% endblock %}
{%block content %}
<div class="jumbotrona">

    <h1>Chi Tiết Kiện Hàng</h1>

    <form action="" role="form" method="post">{% csrf_token %}
{{sender}}
      {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        <!--<input name="sender" />-->
        <!--<input name="receiver" />-->
        <!--{{form.sender}}-->
        <!--{{form.receiver}}-->

        <label for="weight">Cân nặng: </label>
        <input type="number" class="form-control" placeholder="Cân nặng" name="weight" value="" size="255" required autofocus  step="any" min=".4"/>
        <br/>

        <label for="piece">Số kiện: </label>
        <input type="number" class="form-control" placeholder="Số kiện" name="piece" value="" size="255" required
               autofocus min="1"/>
        <br/>

        <label for="content">Chi tiết kiện hàng: </label>

        <textarea class="form-control"  placeholder="Chi tiết kiện hàng" name="content" autofocus style="height:200px"> </textarea>
        <br/>

        <label for="value">Giá trị kiện hàng: </label>
        <input type="text" class="form-control" placeholder="Giá trị kiện hàng" name="value" value="" size="255" required
               autofocus/>
        <br/>


        <label for="insurance">Mua bảo hiểm: </label>
         <input type="number" class="form-control" placeholder="Mua bảo hiểm" name="insurance" value="" size="255" required
               autofocus/>
        <br/>

        <label for="tax">Phụ phí: </label>
        <input type="number" class="form-control" placeholder="Phụ phí" name="tax" value="" size="100" required
               autofocus/>
        <br/>



        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
</div>
{% endblock %}
