{% extends 'management/base.html' %}{% load static %}

{% block title %}Dashboard{% endblock %}
{%block content %}
<div class="container-fluid">
<div class="col-md-3">
    <div class="profile">
        <h1>Tổng Kết Hôm Nay</h1>
        <table class="table table-striped table-hover">
            <tbody>
            <tr>


                <td>Số Đơn: </td>
                <td>{{t_p.count}}</td>
            </tr>
            <tr>
                <td>Cân Nặng(Door): </td>
                <td>{{t_p_d_w.p_weight__sum}} lbs</td>
            </tr>
            <tr>
                <td>Số Kiện(Door):</td>
                <td>{{t_p_d.count}}</td>
            </tr>
            <tr>
                <td>Cân Nặng(Air):</td>
                <td>{{t_p_a_w.p_weight__sum}} lbs</td>
            </tr>
            <tr>
                <td>Số Kiện(Air):</td>
                <td>{{t_p_a.count}}</td>
            </tr>
            <tr>
                <td>Tiền: </td>
                <td>$ {{t_p_t}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="col-md-9">
    <div class="profile">
        <h1>Hôm Nay</h1>
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <td>Tracking Number</td>
                <td>Tracking</td>
                <td>Ngày Làm Đơn</td>
                <td>Người Gửi</td>
                <td>Người Nhận</td>
                <td>Cân nặng</td>
                <td>Số kiện</td>
                <td>Loại</td>
                <td>Thành Tiền</td>
            </tr>
            {% for package in t_p %}
            <tr class='clickableRow' href='/management/package/{{package.id}}/'>

                <td>{{package.id}}</td>
                <td> {{ package.p_status }}</td>
                <td> {{ package.p_added }}</td>
                <td> {{ package.p_sender.s_fullname }}</td>
                <td> {{ package.p_receiver.r_fullname }}</td>
                <td> {{ package.p_weight }}</td>
                <td> {{ package.p_piece }}</td>
                <td>{{ package.p_type_field}}</td>
                <td>$ {{ package.subtotal}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    </div>
<div class="clearfix visible-xs"></div>
<div class="col-md-3">
    <div class="profile">
        <h1>Tổng Kết Hôm Qua</h1>
        <table class="table table-striped table-hover">
            <tbody>
            <tr>


                <td>Số Đơn: </td>
                <td>{{y_p.count}}</td>
            </tr>
            <tr>
                <td>Cân Nặng(Door): </td>
                <td>{{y_p_d_w.p_weight__sum}} lbs</td>
            </tr>
            <tr>
                <td>Số Kiện(Door):</td>
                <td>{{y_p_d.count}}</td>
            </tr>
            <tr>
                <td>Cân Nặng(Air):</td>
                <td>{{y_p_a_w.p_weight__sum}} lbs</td>
            </tr>
            <tr>
                <td>Số Kiện(Air):</td>
                <td>{{y_p_a.count}}</td>
            </tr>
            <tr>
                <td>Tiền: </td>
                <td>$ {{y_p_t}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="col-md-9">
    <div class="profile">
        <h1>Hôm Qua </h1>
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <td>Tracking Number</td>
                <td>Tracking</td>
                <td>Ngày Làm Đơn</td>
                <td>Người Gửi</td>
                <td>Người Nhận</td>
                <td>Cân Nặng</td>
                <td>Số Kiện</td>
                <td>Loại</td>
                <td>Thành Tiền</td>
            </tr>
            {% for package in y_p %}
            <tr class='clickableRow' href='/management/package/{{package.id}}/'>

                <td>{{package.id}}</td>
                <td> {{ package.p_status }}</td>
                <td> {{ package.p_added }}</td>
                <td> {{ package.p_sender.s_fullname }}</td>
                <td> {{ package.p_receiver.r_fullname }}</td>
                <td> {{ package.p_weight }} lbs</td>
                <td> {{ package.p_piece }}</td>
                <td>{{ package.p_type_field}}</td>
                <td>$ {{ package.subtotal}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static 'js/table-row-clickable.js' %}"></script>
{%endblock %}