      <div class="col-md-6">
            <div class="profile">
                <h1>Người gửi: {{sender.s_lname}} {{sender.s_fname}}</h1>
                <h1>Phone: {{sender.s_phone}} </h1>
                <table class="table table-striped table-hover">
                    <tbody>
                    <!--<tr>-->
                        <!--<td>Họ</td>-->
                        <!--<td>{{sender.lname}}</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>Tên</td>-->
                        <!--<td>{{sender.fname}}</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>Địa chỉ 1</td>
                        <td>{{sender.s_address1}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ 2</td>
                        <td>{{sender.s_address2}}</td>
                    </tr>
                    <tr>
                        <td>Thành Phố</td>
                        <td>{{sender.s_city}}</td>
                    </tr>
                    <tr>
                        <td>Bang</td>
                        <td>{{sender.s_state_province}}</td>
                    </tr>
                    <tr>
                        <td>zip</td>
                        <td>{{sender.s_zip}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{sender.s_phone}}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{sender.s_email}}</td>
                    </tr>
                    <tr> <td></td>
                    </tr>
                </table>
            </div>
        {%for rec in receiver%}
          {{rec}}
          {%endfor%}
            {%for pack in package%}
                {{pack}}

                <!--<a href="/management/package/{{pack}}">{{pack}}</a>-->

        {%endfor%}

        </div>

