  <div class="profile">
        <h1><a href="/management/sender/{{sender.s_phone}}/">Người Gửi: {{sender.s_lname}} {{sender.s_fname}}</a></h1>

        <h1>Phone: {{sender.s_phone}} </h1>
        <table class="table table-striped table-hover">
            <tbody>

            <tr>
                <td>Địa chỉ 1</td>
                <td>{{sender.s_address1}}</td>
            </tr>
            <tr>
                <td>Địa chỉ 2</td>
                <td>{{sender.s_address2}}</td>
            </tr>
            <tr>
                <td>Thành Phố</td>
                <td>{{sender.s_city}}</td>
            </tr>
            <tr>
                <td>Bang</td>
                <td>{{sender.s_state_province}}</td>
            </tr>
            <tr>
                <td>zip</td>
                <td>{{sender.s_zip}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{sender.s_phone}}</td>
            </tr>
            <tr>
                <td>email</td>
                <td>{{sender.s_email}}</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>