{% extends 'management/base.html' %}

{% block title %} Người Nhận: {{reciever.lname}} {{receiver.fname}}| Người gửi: {{sender.lname}} {{sender.fname}} {% endblock %}
   {%block content %}
        <div align ="center" class="the_button">
     <a class="btn btn-primary btn-lg" role="button" href="/management/sender/{{sender_url}}/receiver/{{receiver_url}}/add_package/">Thêm Gói Hàng</a>
</div>

  {% include 'management/detail_sender_code.html' %}
  {% include 'management/detail_receiver_code.html' %}

 {% endblock %}
