{% extends 'management/base.html' %}

{% block title %} Người Nhận: {{reciever.lname}} {{receiver.fname}} {% endblock %}
{%block content %}
<div class="container">
    <div class="org">
        <div class="col-md-6">
            <div class="profile">
                <h1>Người gửi: {{sender.lname}} {{sender.fname}}</h1>
                <h1>Phone: {{sender.phone}} </h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Họ</td>
                        <td>{{sender.lname}}</td>
                    </tr>
                    <tr>
                        <td>Tên</td>
                        <td>{{sender.fname}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ 1</td>
                        <td>{{sender.address1}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ 2</td>
                        <td>{{sender.address2}}</td>
                    </tr>
                    <tr>
                        <td>Thành Phố</td>
                        <td>{{sender.city}}</td>
                    </tr>
                    <tr>
                        <td>Bang</td>
                        <td>{{sender.state_province}}</td>
                    </tr>
                    <tr>
                        <td>zip</td>
                        <td>{{sender.zip}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{sender.phone}}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{sender.email}}</td>
                    </tr>
                </table>


              <!--<p><a class="btn btn-primary btn-lg" role="button" href="/management/organization/{{organization_name_url}}/edit">Editar</a></p> -->

            </div>
        </div>
    </div>

    <div class="org">
        <div class="col-md-6">
            <div class="profile">
                <h1>Người Nhận: {{reciever.lname}} {{receiver.fname}}</h1>
                <h1>Phone: {{receiver.phone}} </h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Họ</td>
                        <td>{{receiver.lname}}</td>
                    </tr>
                    <tr>
                        <td>Tên</td>
                        <td>{{receiver.fname}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ 1</td>
                        <td>{{receiver.address1}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ 2</td>
                        <td>{{receiver.address2}}</td>
                    </tr>
                    <tr>
                        <td>Quận/ Huyện</td>
                        <td>{{receiver.quan_huyen}}</td>
                    </tr>
                    <tr>
                        <td>Tỉnh/ Thành Phố:</td>
                        <td>{{receiver.tinh_thanhpho}}</td>
                    </tr>
                    <tr>
                        <td>Phone1</td>
                        <td>{{receiver.phone1}}</td>
                    </tr>
                    <tr>
                        <td>Phone2</td>
                        <td>{{receiver.phone2}}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{receiver.email}}</td>
                    </tr>
                </table>


              <!--<p><a class="btn btn-primary btn-lg" role="button" href="/management/organization/{{organization_name_url}}/edit">Editar</a></p> -->

            </div>
        </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <!--<div class="col-md-6">-->
        <!--<div class="rep">-->
            <!--<h1>Representante</h1>-->

            <!--<table class="table">-->
                <!--<tbody>-->
                <!--{% for rep in reps %}-->
                <!--<tr>-->
                    <!--<td>Nombre</td>-->
                    <!--<td>{{rep.FName }}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Apellido</td>-->
                    <!--<td>{{rep.LName }}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Email</td>-->
                    <!--<td>{{rep.email }}</td>-->
                <!--</tr>-->
                <!--{% endfor %}-->
                <!--</tbody>-->
            <!--</table>-->
            <!--<p><a class="btn btn-primary btn-lg"-->
                  <!--href="/management/organization/{{organization_name_url}}/create_rep_form/" role="button">Añadir-->
                <!--nuevo </a></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="clearfix visible-xs"></div>-->
    <!--<div class="col-md-6">-->
        <!--<div class="trip">-->
            <!--<h1>Viaje</h1>-->
            <!--<ol>-->
                <!--{% for trip in trips %}-->
                <!--<li>{{trip.date }}</li>-->
                <!--{% endfor %}-->
            <!--</ol>-->
            <!--<p><a class="btn btn-primary btn-lg"-->
                  <!--href="/management/organization/{{organization_name_url}}/create_trip_form/" role="button">Añadir-->
                <!--nuevo </a></p>-->
        <!--</div>-->
    <!--</div>-->

</div>
{% endblock %}