        <div class="col-md-6">
            <div class="profile">
                <h1>Người Nhận: {{reciever.lname}} {{receiver.fname}}</h1>
                <h1>Phone: {{receiver.phone1}} </h1>
                <table class="table table-striped table-hover">
                    <tbody>
                    <!--<tr>-->
                        <!--<td>Họ</td>-->
                        <!--<td>{{receiver.lname}}</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>Tên</td>-->
                        <!--<td>{{receiver.fname}}</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>Địa chỉ 1</td>
                        <td>{{receiver.address1}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ 2</td>
                        <td>{{receiver.address2}}</td>
                    </tr>
                    <tr>
                        <td>Quận/ Huyện</td>
                        <td>{{receiver.quan_huyen}}</td>
                    </tr>
                    <tr>
                        <td>Tỉnh/ Thành Phố:</td>
                        <td>{{receiver.tinh_thanhpho}}</td>
                    </tr>
                    <tr>
                        <td>Phone1</td>
                        <td>{{receiver.phone1}}</td>
                    </tr>
                    <tr>
                        <td>Phone2</td>
                        <td>{{receiver.phone2}}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{receiver.email}}</td>
                    </tr>
                </table>

            </div>
        </div>
