<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="container">


                {% if error %}
            <div class="col-md-12">
             <div class="profile">
                <p style="color: red;">Vui lòng nhập bất kỳ chuỗi tìm kiếm.</p>
                <a class="btn btn-danger the_button" href="/management/">Trở Về trang chủ</a>
                 </div>
                  </div>
                {% endif %}

                <form class="navbar-form navbar-right" action="/management/search/" method="get" role="form">
                    <div class="form-group ">
                        <input id="searchbar" type="text" name="search_term" placeholder="Nhập bất kỳ chuỗi tìm kiếm"
                               class="form-control"/>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Tìm Kiếm">

                </form>


    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootsrap.min.js' %}"></script>
</body>
</html>