body {
  padding-top: 70px;
  font-size:16px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotrona {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}



.profile {
    background-color:#eee;
    border-radius: 6px;
    padding: 15px 15px 0 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile h1 {
    text-align: center;
}

.radio_package {
    width:400px;

}

.the_button {
    margin-top:5px;
    margin-left: auto;
    margin-right: auto;
    width : 15%;
}

div select{
 display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.clickableRow {
cursor: pointer;

}
.clickableRow:hover {
  color: #357ebd;

}
.navbar-inverse .navbar-nav > li > a{
  color: #FF9933;
}
.selection{
font-size:30px;
}