        <div class="col-md-6">
            <div class="profile">
                <h1>Người Nhận: {{reciever.r_lname}} {{receiver.r_fname}}</h1>
                <h1>Phone: {{receiver.r_phone1}}  </h1>
                <table class="table table-striped table-hover">
                    <tbody>
                    <!--<tr>-->
                        <!--<td>Họ</td>-->
                        <!--<td>{{receiver.lname}}</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>Tên</td>-->
                        <!--<td>{{receiver.fname}}</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>Địa chỉ 1</td>
                        <td>{{receiver.r_address1}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ 2</td>
                        <td>{{receiver.r_address2}}</td>
                    </tr>
                    <tr>
                        <td>Quận/ Huyện</td>
                        <td>{{receiver.r_quan_huyen}}</td>
                    </tr>
                    <tr>
                        <td>Tỉnh/ Thành Phố:</td>
                        <td>{{receiver.r_tinh_thanhpho}}</td>
                    </tr>
                    <tr>
                        <td>Phone1</td>
                        <td>{{receiver.r_phone1}}</td>
                    </tr>
                    <tr>
                        <td>Phone2</td>
                        <td>{{receiver.r_phone2}}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{receiver.r_email}}</td>
                    </tr>
                    <tr> <td></td>
                    </tr>
                </table>

            </div>
        </div>
